@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600&display=swap');
html:root {
    font-size: 16px;
    --font-h2: 2rem;
    --font-hero-text: 1.4rem;

    --fs-h2: 1.8rem;
    --fs-hero-text: 1.3rem;

    --fxs-h2: 1.1rem;
    --fxs-hero-text: 1rem;

    --min-width: 192px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #edf0f1;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1f2127;
}

img{
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

.home{
    padding:  0 20px;
}

.wrapper{
    max-width: 1100px;
    min-width: var(--min-width);
    margin: auto;
    color: #fff;
}

.container-hero{
    display: flex;
    margin-top: 50px;
    border-radius: 30px;
    padding: 20px 0;
    background-color: #313338;
    border:solid;
    border-width: 5px;
    border-color: #3456d8;
    border-radius: 50px; 
}

.photo-column-hero{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-column-hero .photo-container{
    width: 250px;
    margin: auto;
}

.photo-column-hero .photo-container img{
    width: 100%;
    border:solid;
    border-width: 3px;
    border-color: white;
    border-radius: 50%; 
}

.content-column-hero h2{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: var(--font-h2);
}

.content-column-hero{
    width: 70%;
}

.content-column-hero span{
    color: #3456d8;
}

.content-text{
    margin-bottom: 20px;
    margin-right: 25px;
    text-align: justify;
    font-size: var(--font-hero-text);
}

.info{
    display: flex;
    gap: 20px;
    font-size: var(--font-hero-text);
}

.contact-info{
    display: flex;
    gap: 10px;
    align-items: baseline;

    
}


.tools-card{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.tool-logo img{
    width: 100px;
}

.tool-logo .circular-logo{
    border-radius: 50%;
}


.subtitle{
    margin-top: 20px;
    text-align: center;
}

.cards{
    margin-top: 30px;;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 49%;
    display: flex;
    border-radius: 30px;
    justify-content: left;
    background-color: #313338;
    margin-bottom: 10px;
}


.cards p {
    text-align: justify;
  }


.card-image{
    width: 200px;
    max-width: 200px;
    margin: auto;
}

.card-image img{
    width: 100%;
    border-radius: 20px; 
}
.cards .description{
    padding: 20px 15px;
}

.description .job-description{
    padding-top: 15px;
    /* height: 40%; */
}

.description .period{
    padding-top: 15px;
}


@media (max-width: 1060px){
    .container-hero{
        flex-direction: column;
    }
    .photo-column-hero{
        width: 100%;
    }
    .photo-column-hero .photo-container{
        width: 190px;
        margin: auto;
    }
    .content-column-hero{
        width: 100%;
    }
    .content-column-hero h2{
        text-align: center;
        font-size: var(--fs-h2);
    }
    .content-text{
        margin: 0px 10px 15px 10px;
        font-size: var(--fs-hero-text);
    }
    .info{
        justify-content: center;
        font-size: var(--fs-hero-text);
    }
}

@media (max-width: 900px){
    .tool-logo img{
        width: 80px;
    }
    .tools-card{
        gap: 15px;
        flex-wrap: wrap;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}


@media (max-width: 590px){
    .info{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 420px){
    .photo-column-hero .photo-container{
        width: 150px;
    }
    .content-column-hero h2{
        font-size: var(--fxs-h2);
    }
    .content-text{
        font-size: var(--fxs-hero-text) ;
    }
    .info{
        font-size: var(--fxs-hero-text);
    }
    .tool-logo img{
        width: 60px;
    }
    .subtitle, .card h2{
        font-size: var(--fxs-h2);
    }
    .card{
        flex-direction: column;
    }
    .card-image{
        width: 150px;
        padding: 10px 0px;
    }
    .card h2{
        text-align: center;
    }
    .card .p{
        font-size: var(--fxs-hero-text);
    }
    .card .description{
        padding-top: 0px;
    }
    .contact-info{
        word-break: break-word;
    }
}